body {
  padding-top: 60px;
}

div {
  display: flex;
  justify-content: center;
}

img {
  align-self: flex-start;
}

#coo {
  width: 60%;
  height: auto;
  margin-bottom: 60px;
}

.title {
  padding-bottom: 10px;
}

.description {
  font-family: 'Vollkorn', serif;
  font-size: 120%;
}

.bengali {
  font-family: 'Baloo Da 2', cursive;
  font-size: 120%;
}